@import "./reset.css";
@import "./variables.css";

body {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-background);
    color: var(--primary-text);
    font-size: 20px;
    line-height: 1.6;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin: 0 auto;
}

@media (min-width: 52rem) {
    .content-container {
        display: grid;
        grid-template-columns: clamp(1rem, 2rem, 5vw)
            [fullbleed-start] minmax(auto, 1fr)
            [wide-start] minmax(auto, 1fr)
            [peek-start] minmax(auto, 8rem)
            [main-start] min(100%, 60ch)
            [main-end] minmax(auto, 8rem)
            [peek-end] minmax(auto, 1fr)
            [wide-end] minmax(auto, 1fr)
            [fullbleed-end] clamp(1rem, 2rem, 5vw);
    }
}

.content-container {
    width: 90vw;
    margin-inline: auto;
}

.content-container > * {
    grid-column: main;
}

.fullbleed {
    grid-column: fullbleed-start / fullbleed-end;
}

.wide {
    grid-column: wide-start / wide-end;
}

.peek {
    grid-column: peek-start / peek-end;
}

article .astro-code {
    grid-column: peek-start / peek-end;
}

h1 {
    font-size: 4rem;
    letter-spacing: -0.02em;
}

h2 {
    font-size: 2.7rem;
}

h3 {
    font-size: 1.875rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1rem;
}

@media (max-width: 51.999rem) {
    h1 {
        font-size: clamp(2.5rem, 4vw + 1.5rem, 4rem);
    }

    h2 {
        font-size: clamp(1.75rem, 3vw + 1rem, 2.7rem);
        margin-top: 3rem;
    }

    h3 {
        font-size: clamp(1.5rem, 2vw + 0.75rem, 1.875rem);
        margin-top: 3rem;
    }

    h4 {
        font-size: clamp(1.25rem, 1.5vw + 0.5rem, 1.5rem);
        margin-top: 2.5rem;
    }

    h5 {
        font-size: clamp(1rem, 1vw + 0.25rem, 1.25rem);
        margin-top: 2.5rem;
    }

    h6 {
        font-size: clamp(0.875rem, 0.5vw + 0.125rem, 1rem);
        margin-top: 2.5rem;
    }

    .astro-code {
        font-size: 1rem;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Fraunces Variable", serif;
    font-weight: 400;
    line-height: 1.2;
}

p {
    margin: 0 0 1.5rem;
}

ul,
ol {
    padding: 0 1.5rem 1rem 3rem;
    margin: 0.5rem 0;
}

/* ul {
    list-style-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyMCAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGcgY2xpcC1wYXRoPSJ1cmwoI2NsaXAwXzIxXzcpIj4KPHBhdGggZD0iTTUuNyAxOC4wMkwxMi44IDE0VjEzLjg0TDUuNyA5LjgyVjguMTJMMTQuMyAxMy4xVjE0LjdMNS43IDE5LjY4VjE4LjAyWiIgZmlsbD0iI0MyMDA1MSIvPgo8L2c+CjxkZWZzPgo8Y2xpcFBhdGggaWQ9ImNsaXAwXzIxXzciPgo8cmVjdCB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIGZpbGw9IndoaXRlIi8+CjwvY2xpcFBhdGg+CjwvZGVmcz4KPC9zdmc+Cg==")
}

[data-theme="dark"] ul {
    list-style-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyMCAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGcgY2xpcC1wYXRoPSJ1cmwoI2NsaXAwXzIwXzMpIj4KPHBhdGggZD0iTTUuNyAxOC4wMkwxMi44IDE0VjEzLjg0TDUuNyA5LjgyVjguMTJMMTQuMyAxMy4xVjE0LjdMNS43IDE5LjY4VjE4LjAyWiIgZmlsbD0iI0ZGNjE4OCIvPgo8L2c+CjxkZWZzPgo8Y2xpcFBhdGggaWQ9ImNsaXAwXzIwXzMiPgo8cmVjdCB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIGZpbGw9IndoaXRlIi8+CjwvY2xpcFBhdGg+CjwvZGVmcz4KPC9zdmc+Cg==");
} */

ul {
    list-style-type: none;
}

ul li {
    position: relative;
    padding-left: 1.5rem;
}

article ul li::before {
    content: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyMCAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGcgY2xpcC1wYXRoPSJ1cmwoI2NsaXAwXzIxXzcpIj4KPHBhdGggZD0iTTUuNyAxOC4wMkwxMi44IDE0VjEzLjg0TDUuNyA5LjgyVjguMTJMMTQuMyAxMy4xVjE0LjdMNS43IDE5LjY4VjE4LjAyWiIgZmlsbD0iI0MyMDA1MSIvPgo8L2c+CjxkZWZzPgo8Y2xpcFBhdGggaWQ9ImNsaXAwXzIxXzciPgo8cmVjdCB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIGZpbGw9IndoaXRlIi8+CjwvY2xpcFBhdGg+CjwvZGVmcz4KPC9zdmc+Cg==");
    position: absolute;
    left: -2rem;
    top: 0.4rem;
    width: 0.5rem;
    height: 0.5rem;
}

[data-theme="dark"] article ul li::before {
    content: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyMCAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGcgY2xpcC1wYXRoPSJ1cmwoI2NsaXAwXzIwXzMpIj4KPHBhdGggZD0iTTUuNyAxOC4wMkwxMi44IDE0VjEzLjg0TDUuNyA5LjgyVjguMTJMMTQuMyAxMy4xVjE0LjdMNS43IDE5LjY4VjE4LjAyWiIgZmlsbD0iI0ZGNjE4OCIvPgo8L2c+CjxkZWZzPgo8Y2xpcFBhdGggaWQ9ImNsaXAwXzIwXzMiPgo8cmVjdCB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIGZpbGw9IndoaXRlIi8+CjwvY2xpcFBhdGg+CjwvZGVmcz4KPC9zdmc+Cg==");
}

ol {
    list-style-type: decimal-leading-zero;
    padding-left: 3rem;
}

ol li::marker {
    color: var(--color-primary);
    font-family: "IBM Plex Mono", monospace;
}

ul li::marker {
    margin-left: -1.5rem;
}

:is(ol, ul) li {
    padding: 0.5rem 0;
}

img {
    border-radius: 0.5rem;
    grid-column: peek-start / peek-end;
}

code {
    font-family: "IBM Plex Mono", monospace;
}

.astro-code {
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    scrollbar-color: #E6EDF3 transparent;
    margin-bottom: 2rem;
    white-space: pre-wrap;
}

html[data-theme="dark"] .astro-code,
html[data-theme="dark"] .astro-code span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
}

code:not(.astro-code code) {
    font-family: "IBM Plex Mono", monospace;
    font-size: 0.9em;
    background-color: var(--code-background);
    padding: 0.15em 0.35em;
    border-radius: 0.5rem;
    font-weight: normal;
    color: oklch(0.95 0 0);
    white-space: nowrap;
}

blockquote {
    margin: 2rem 0;
    padding-left: 1.5rem;
    font-style: italic;
    border-left: 4px solid var(--color-primary);
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1.35;
    font-family: "Fraunces Variable";
}

table {
    width: 100%;
    margin-bottom: 1.5em;
    border-spacing: 0.25rem;
}

table th {
    font-weight: 600;
    text-align: left;
    padding: 0.5em 1em;
    border: 1px solid var(--color-primary-darker);
    background-color: var(--color-primary-bg);
}

table th:first-child {
    border-top-left-radius: 0.5rem;
}

table th:last-child {
    border-top-right-radius: 0.5rem;
}

table td {
    padding: 0.5em 1em;
    border: 1px solid var(--color-primary-darker);
}

table tbody tr:last-child td:last-child {
    border-bottom-right-radius: 0.5rem;
}

table tbody tr:last-child td:first-child {
    border-bottom-left-radius: 0.5rem;
}

a, .link {
    color: var(--color-primary);
    text-decoration: underline;
    text-decoration-color: var(--color-primary-lighter);
    font-weight: 600;
    text-underline-offset: 0.15em;
    transition: color 0.2s ease-in-out;
}

.link {
    border: none;
    background: none;
    cursor: pointer;
}

a:hover, .link:hover {
    color: var(--color-primary-lighter);
}

*:focus-visible {
    outline: 2px solid var(--color-primary-lighter);
    outline-offset: 2px;
}

a:focus-visible, .link:focus-visible {
    color: var(--color-primary-lighter);
    text-decoration: none;
    border-radius: 0.25rem;
}

em, strong {
    font-family: "Fraunces Variable", serif;
}

mark {
    background-color: var(--color-primary-bg);
    color: var(--primary-text);
    padding-inline: 0.25rem;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}