---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";

const allPosts = (await getCollection("blog")).sort((a, b) => {
  return new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime();
});
---

<BaseLayout pageTitle="404 | tim's dev blog">
	<h1>404 - Not Found</h1>
	<p>Sorry, the page you are looking for does not exist.</p>

	<blockquote>
		<p>
			I am not in here. I am not out there either. I may be found in your way of breathing and walking.<br />
			— Thích Nhất Hạnh
		</p>
	</blockquote>

	<a href="/">Go back to the homepage</a>
</BaseLayout>

<style>
	ul {
		padding: 0;
	}
</style>