---
const { title, url, pubDate, description } = Astro.props;
---

<li>
    <h2><a href={url}>{title}</a></h2>
    <time datetime={pubDate.toISOString().slice(0, 10)} class="date">{pubDate.toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' })}</time>
    <p>{description}</p>
</li>

<style>
    li {
        list-style: none;
        margin-bottom: 3rem;
    }
    a {
        color: var(--primary-text);
        text-decoration: none;
        font-weight: unset;
    }

    a:hover, a:focus-visible {
        color: var(--color-primary);
        text-decoration: underline;
    }

    p {
        margin: 0.5rem 0 0;
    }

    .date {
        display: block;
        color: var(--secondary-text);
        font-size: 0.9em;
        margin-bottom: 0.5rem;
    }
</style>
