---
const { title, url, pubDate, description } = Astro.props;
---

<li>
    <a href={url}><h3>{title}</h3></a>
    <span class="date">{pubDate.toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' })}</span>
    <p>{description}</p>
</li>

<style>
    li {
        list-style: none;
        margin-bottom: 3rem;
    }
    a {
        color: #333;
        font-weight: bold;
    }

    a:hover {
        color: var(--color-primary);
    }

    .date {
        display: block;
        color: #555;
        font-size: 0.9em;
        margin-bottom: 0.5rem;
    }

</style>
