---
import type { Frontmatter } from "../content.config";
import BaseLayout from "./BaseLayout.astro";
import Divider from "../components/Divider.astro";

type Props = {
    frontmatter: Frontmatter;
};

const { frontmatter } = Astro.props;

const pageTitle = `${frontmatter.title}`;
---

<BaseLayout pageTitle={pageTitle}>
    <article>
        <header>
            <h1>{frontmatter.title}</h1>
            <time datetime={frontmatter.pubDate.toISOString().slice(0, 10)} class="pub-date">{frontmatter.pubDate.toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' })}</time>
        </header>

        <div>
            <slot />
        </div>

        <Divider />

        <p>
            You can share your thoughts on this post via <a href=`mailto:hi@timsblog.dev?subject=Comment on "${frontmatter.title}"`>e-mail</a>.
        </p>

        <button class="top-link link" id="top-link" aria-label="Scroll back to top" onclick="scrollToTop()">
            <svg role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
                <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
            </svg> back to top
        </button>
    </article>

    <script is:inline>
        const topLink = document.getElementById('top-link');
        topLink.style.display = 'inline-block';
        function handleScroll() {
            const scrolled = window.scrollY;
            const trigger = window.innerHeight;
            if (scrolled > trigger) {
                topLink.classList.add('fixed');
            } else {
                topLink.classList.remove('fixed');
            }
        }

        function scrollToTop() {
            window.scrollTo({
                top: 0,
            });

            document.querySelector("a").focus();
        }
        window.addEventListener('scroll', handleScroll);
    </script>

<style>
    .pub-date {
        display: block;
        font-size: 0.9em;
        color: var(--secondary-text);
    }

    header {
        margin-bottom: 2rem;
    }

    .top-link {
        display: none;
        text-decoration: none;
        color: var(--color-primary);
        font-family: "Noto Sans Variable", sans-serif;
    }

    .top-link svg {
        display: inline;
        margin-right: 0.2em;
    }

    @media (min-width: 150ch) {
        .top-link.fixed {
            position: fixed;
            left: 50%;
            transform: translateX(-60ch);
            bottom: 2.8rem;
            font-size: 1rem;
            transition: opacity 0.3s, visibility 0.3s;
            opacity: 1;
        }
    }
</style>
